<?xml version="1.0"?>
<config>
    <crontab>
        <jobs>
            <strattas_core_logger_cron>
                <schedule>
                    <cron_expr>1 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>stcore/logger::exorcise</model>
                </run>
            </strattas_core_logger_cron>

        </jobs>
    </crontab>
    <modules>
        <Strattas_Core>
            <version>2.3.0</version><platform>ce</platform>
        </Strattas_Core>
    </modules>
    <global>
        <models>
            <stcore>
                <class>Strattas_Core_Model</class>
                <resourceModel>stcore_mysql4</resourceModel>
            </stcore>
            <stcore_mysql4>
                <class>St_Core_Model_Mysql4</class>
                <entities>
                    <logger>
                        <table>st_core_logger</table>
                    </logger>
                </entities>
            </stcore_mysql4>
        </models>
        <resources>
            <stcore_setup>
                <setup>
                    <module>Strattas_Core</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </stcore_setup>
            <strattascore_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </strattascore_write>
            <strattascore_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </strattascore_read>
        </resources>
        <blocks>
            <stcore>
                <class>Strattas_Core_Block</class>
            </stcore>
        </blocks>

        <helpers>
            <stcore>
                <class>Strattas_Core_Helper</class>
            </stcore>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <stcore>
                    <file>strattas_core.xml</file>
                </stcore>
            </updates>
        </layout>
        <translate>
            <modules>
                <Strattas_Core>
                    <files>
                        <default>Strattas_Core.csv</default>
                    </files>
                </Strattas_Core>
            </modules>
        </translate>

        <routers>
            <stcore>
                <use>standard</use>
                <args>
                    <module>Strattas_Core</module>
                    <frontName>stcore</frontName>
                </args>
            </stcore>
        </routers>
    </frontend>
    <admin>
        <routers>
            <strattascore_admin>
                <use>admin</use>
                <args>
                    <module>Strattas_Core</module>
                    <frontName>strattascore_admin</frontName>
                </args>
            </strattascore_admin>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Strattas_Core>
                    <files>
                        <default>Strattas_Core.csv</default>
                    </files>
                </Strattas_Core>
            </modules>
        </translate>

        <layout>
            <updates>
                <stcore>
                    <file>strattas_core.xml</file>
                </stcore>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <strattasmaster>
            <stcore>
                <logger_store_days>90</logger_store_days>
                <logger_enabled>1</logger_enabled>
            </stcore>
        </strattasmaster>
    </default>
</config>	
